html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next,
#app {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/** page setup **/

/** page scroll animation **/
@keyframes progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

#progress {
  animation: progress;
  animation-timeline: scroll();
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  transform-origin: 0 center;
  background: #709af5;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 27, 82, 0.97);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(20, 27, 82, 0.97);
  /* max-width: 70%; */
  max-height: 90%;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal-overlay-test {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/revermont.webp"); /* Chemin vers ton image */
  background-size: cover; /* L'image couvre toute la zone */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay-test::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 27, 82, 0.8); /* Superposition de couleur */
  z-index: 1; /* S'assurer que la couleur de fond est au-dessus de l'image */
}
.modal-test {
  padding: 20px;
  border-radius: 8px;
  max-height: 90%;
  overflow-y: auto;
  scrollbar-width: none;
  z-index: 1000;
}

@media (min-width: 768px) {
  .modal,
  .modal-test {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .modal,
  .modal-test {
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  .modal,
  .modal-test {
    max-width: 90%;
  }
}
