@tailwind base;
@tailwind components;
@tailwind utilities;

/*light mode*/
#app {
  --color-background: 236 249 255;

  /* --color-paper: 255 195 248; */
  --color-paper: 186 230 253;
  --color-text-primary: 0 0 0;
  --color-text-secondary: 38 38 38;

  /* --color-primary: 234 0 255;
  --color-secondary: 4 217 255; */
  --color-primary: 104 119 240;
  --color-secondary: 125 211 252;
}

/*dark mode*/
#app.dark {
  /* --color-background: 24 3 46; */
  /* --color-background: 29 2 2; */
  --color-background: 4 8 47;

  --color-paper: 17 23 69;
  /* --color-paper: 87 15 15; */
  --color-text-primary: 212 232 247;
  --color-text-secondary: 212 232 247;

  --color-primary: 104 119 240;
  /* --color-primary: 255 51 51; */
  --color-secondary: 41 238 253;
  /* test */
  --color-third: 65 193 248;
}

#app {
  @apply bg-background text-skin-primary;
}

* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a {
  @apply text-primary;
}

a:hover {
  @apply underline;
}
